body{
	margin: 0;
	background-color: #f0f0f0;
	font-family: calibri;
}

a{
	text-decoration: none;
}

#page{
	margin: 0px;
	margin-left: 10%;
	width: 80%;
	height: 100%;
	background-color: white;
}
#header{
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-bottom: 50px;
}
#title{
	font-size: 30pt;
	margin-bottom: 1px;
}

#navbar{
	height: 50px;
	background-color: #98d36d;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 2px;
	border-color: green;
	text-align: center;
	line-height: 50px;
}

#activeBut{
	display: inline-block;
	background-color: green;
	height: 50px;
	margin: 0px;
	padding: 0px;
	width: 25%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-top: 0px;
	border-bottom: 0px;
	margin-left: -2.5px;
	margin-right: -2.5px;
	color: white;

}
.navBut{
	display: inline-block;
	height: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-top: 0px;
	border-bottom: 0px;
	margin-left: -2.5px;
	margin-right: -2.5px;
	width: 25%;
	padding: 0px;
	color: white;
	}

.navBut:hover{
	display: inline-block;
	height: 50px;
	background-color: #8DB600;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-top: 0px;
	border-bottom: 0px;
	margin-left: -2.5px;
	margin-right: -2.5px;
	width: 25%;
	padding: 0px;
	}

#content{
	background-color: white;
}


#footer{
  	height: 70px;
  	position: solid;
  	background-color: #404040;
  	text-align: center;
  	color: white;
  	line-height: 20px;
}
.project
{
	background-color: #f0f0f0;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	width: 100%-2px;
	height: 150px;
	text-align: left;
	color: black;
	padding: 5px;
}

.project:hover
{
	background-color: #f0f0f0;
	border-color: #f0f0f0;
	width: 100%-2px;

}

.projectSS
{
	width: 240px;
	height: 150px;
	float: left;
	display: inline;
	margin-right: 15px;
}


@media screen and (max-width:500px) 
{
.projectSS{
	width: 96px;
	height: 60px;
}

.project{
	height: 250px;
}
#activeBut{
	width: 33%;
	border: 0px;
}
.navBut{
	width: 33%;
	border: 0px;
}
.navBut:hover{
	width: 33%;
	border: 0px;
}



}




}